.header {
    grid-area: h;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 60px 200px 60px;

    background-color: lightgreen;
    border-radius: 10px;
}

.header img {
    border-radius: 10px;
    background-color: yellow;

    width: 50px;

}
.name {
    background-color: red;

}


